<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bookkart</title>
  <style>
  body{
    background: #22324D;
    margin: 0;
    padding: 0;
  }
  .container{
    /* background: pink; */
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20vh;
    text-align: center;
  }

  .head{
    color: white;
    font-size: 40px;
    font-weight: 900;
  }
  .main-body{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    margin-left: 10%;
  }
  span{
    text-decoration: line-through;
    text-decoration-color: rgba(255, 188, 15, 0.8);
  }
  .go-home{
    margin-top: -50px;
    text-decoration: none;
  }
  .go-home button{
    padding: 15px 50px;
    border-radius: 9px;
    background: none;
    color: white;
    border: 1px solid white;
    outline: none;
    cursor: pointer;
  }
  .go-home button:hover{
    border: 1px solid #FFBC0F;
  }

  </style>
  <link rel="stylesheet" href="resources/css/pagenotfound.css">
</head>
<body>
  <div class="container">
    <div class="head">
      <h1>404!</h1>
    </div>
    <div class="main-body">
      <PRE><p>LOST IN <span>SPACE</span> BOOKKART? Hmm, looks
  like that page doesn't exist.
      </p><PRE>
    </div>

    <div class="go-home">
      <a href="/index.html"><button>GO HOME</button></a>
    </div>
  </div>

</body>
</html>
