<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bookkart</title>
  <style>
  body{
    background: #22324D;
    margin: 0;
    padding: 0;
  }
  @media (max-width:600px){
    .container{
      width: 90vw;
      margin-left: 5vw;
      margin-right: 5vw;
      margin-top: 20vh;
      text-align: center;
    }

    h1{
      color: white;
      font-size: 30px;
      font-weight: 900;
    }
     PRE{
      color: white;
      font-size: 15px;
    }
    span{
      text-decoration: line-through;
      text-decoration-color: rgba(255, 188, 15, 0.8);
    }

     button{
      text-decoration: none;
      margin-top: -50px;
      padding: 15px 50px;
      border-radius: 9px;
      background: none;
      color: white;
      border: 1px solid white;
      outline: none;
      cursor: pointer;
    }
    button:hover{
      border: 1px solid #FFBC0F;
    }
  }
  @media (min-width: 601px){
    .container{
      width: 90vw;
      margin-left: 5vw;
      margin-right: 5vw;
      margin-top: 20vh;
      text-align: center;
    }

    h1{
      color: white;
      font-size: 50px;
      font-weight: 900;
    }
     PRE{
      color: white;
      font-size: 20px;
    }
    span{
      text-decoration: line-through;
      text-decoration-color: rgba(255, 188, 15, 0.8);
    }
    a{
      text-align: center;
      margin-left: -4vw;
    }
     button{
      text-decoration: none;
      margin-top: -50px;
      padding: 15px 50px;
      border-radius: 9px;
      background: none;
      color: white;
      border: 1px solid white;
      outline: none;
      cursor: pointer;
    }
    button:hover{
      border: 1px solid #FFBC0F;
    }
  }


  </style>
  <link rel="stylesheet" href="resources/css/pagenotfound.css">
</head>
<body>
  <div class="container">
      <h1>404!</h1>

      <PRE><p>  LOST IN <span>SPACE</span> BOOKKART? Hmm, looks
  like that page doesn't exist.
      </p><PRE>

      <a href="/index.html"><button>GO HOME</button></a>

  </div>

</body>
</html>
